.btnAction-h {
    width: 100%;
    display: flex;
    justify-content: end;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 120px;
}