body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay-fullscreen {
  position: fixed;
  width: 100%;
}

.login {
  height: 100vh;
}

.home {
  height: 135vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnAction-h{
  float: left;
  padding-bottom: 0.8rem;
}
.btnContainer{
  display: flex;
  justify-content: space-between;
  width: 11.8rem;
}
